<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a routerLink="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register page</li>
        </ol>
    </div>
</div>
<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <input  type="text" placeholder="First Name..."   formControlName="firstName">
                <span  class="label label-danger" *ngIf="signupData.firstName?.invalid && signupData.firstName?.touched" >Enter the First Name</span>
                <input  type="text" placeholder="Last Name..."   formControlName="lastName" >
            
            
            <h6>Login information</h6>
                <input type="email" placeholder="Email Address"    formControlName="email" >
                <span class="label label-danger" *ngIf="signupData.email?.invalid && signupData.email?.touched ">Enter the Valid Email address </span>
                <input type="password" placeholder="Password"  formControlName="password">
                <span class="label label-danger" *ngIf="signupData.password?.invalid && signupData.password?.touched" >Password input field is not valid</span>
                <input type="password" placeholder="Password Confirmation"  formControlName="cpassword">
                <span></span>
                <input type="text" placeholder="Phone Number"  formControlName="phoneNumber">
                <span class="label label-danger"*ngIf="signupData.phoneNumber?.invalid && signupData.phoneNumber?.touched">Phonenumber input field is not valid</span>
                
                <div class="register-home">
                    <button class="btn btn-primary" type="submit" value="Register" [disabled]="signupForm.invalid">Register</button>
                </div>
               
            </form>
        </div>
        <div class="register-home">
            <a routerLink="/home">Home</a>
        </div>
    </div>
</div>
