<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a routerLink="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register page</li>
        </ol>
    </div>
</div>
<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <input  type="text" placeholder="First Name..."   formControlName="first_name">
                <div *ngIf="submitted && signupData.first_name.errors" class="text-danger">
                    <div *ngIf="signupData.first_name.errors.required">First name is required</div>
                </div>
                
                <input  type="text" placeholder="Last Name..."   formControlName="last_name" >
            
            
            <h6>Login information</h6>
                <input type="email" placeholder="Email Address"    formControlName="email" >
                <div *ngIf="submitted && signupData.email.errors" class="text-danger">
                    <div *ngIf="signupData.email.errors.email">Email must be valid</div>
                    <div *ngIf="signupData.email.errors.required">Email is required</div>
                </div>
                <input type="password" placeholder="Password"  formControlName="password">
                <div *ngIf="submitted && signupData.password.errors" class="text-danger">
                    <div *ngIf="signupData.password.errors.pattern">
                        <ul>
                            <li>Password should be alphanumeric</li>
                            <li>A letter of the password should be capital</li>
                            <li>Password must contain a special character (@, $, !, &, etc)</li>
                            <li>Password length must be greater than 7 characters</li>
                        </ul>
                    </div>

                </div> 
               
                
                <input type="text" placeholder="Phone Number"  formControlName="mobile_number">
                <div *ngIf="submitted && signupData.mobile_number.errors"  class="class text-danger">
                    <div *ngIf="signupData.mobile_number.errors.pattern">Phonenumber must contain 10 digits</div>

                </div>
               
                
               <input type="submit" value="Register">
               
            </form>
        </div>
        <div class="register-home">
            <a routerLink="/home">Home</a>
        </div>
    </div>
</div>
