
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Categories</h2>
                <ul class="cate" *ngFor="let cat of categoryList">
                    <li><a routerLink="{{cat.title}}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{cat.title}}</a></li>
                      
                </ul>
            </div>
                                                                                                                                                                                              
        </div>
        <router-outlet></router-outlet>
