
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Categories</h2>
                <ul class="cate" *ngFor="let cat of categoryList">
                    <li><a routerLink="product"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{cat.title}}</a></li>
                        <ul>
                            <li><a routerLink="product"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cuts & Sprouts</a></li>
                            <li><a routerLink="product"><i class="fa fa-arrow-right" aria-hidden="true"></i>Flowers</a></li>
                 
                        </ul>
                </ul>
            </div>
                                                                                                                                                                                              
        </div>
        <router-outlet></router-outlet>
