<div class="col-md-8 products-right">
    <div class="products-right-grid">
        <div class="products-right-grids">
            <div class="sorting">
                <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option> 
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>					
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>								
                </select>
            </div>
            <div class="sorting-left">
                <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 18</option> 
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 32</option>					
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>								
                </select>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="agile_top_brands_grids">
        <div class="col-md-4 top_brand_left" *ngFor="let prod of productDalleMomo" style="padding: 15px 20px;">
            <div class="hover14 column">
               
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="{{prod.categoryIcon}}" alt=" " class="img-responsive">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb" >
                                        <a routerLink="/singlePage/{{prod.id}}"><img title=" " alt=" " style="width: 150px;height: 150px;" src="{{prod.categoryBackgroundImage}}"></a>		
                                        <p style=" width: 200px;">{{prod.title}}</p>
                                        <h4>${{prod.unitPrice[0].sellingPrice}} <span>${{prod.unitPrice[0].markedPrice}}</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="business" value=" ">
                                                <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                <input type="hidden" name="amount" value="35.99">
                                                <input type="hidden" name="discount_amount" value="1.00">
                                                <input type="hidden" name="currency_code" value="USD">
                                                <input type="hidden" name="return" value=" ">
                                                <input type="hidden" name="cancel_return" value=" ">
                                                <input type="submit" name="submit" value="Add to cart" class="button">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                
               
            
              
            </div>
        </div>
        
    <nav class="numbering">
        <ul class="pagination paging">
            <li>
                <a routerLink="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a routerLink="#">1<span class="sr-only">(current)</span></a></li>
            <li><a routerLink="#">2</a></li>
            <li><a routerLink="#">3</a></li>
            <li><a routerLink="#">4</a></li>
            <li><a routerLink="#">5</a></li>
            <li>
                <a routerLink="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


