<div class="col-md-8 products-right">
  
    <div class="agile_top_brands_grids">
        <div class="col-md-4 top_brand_left" *ngFor="let prod of productMomo  | paginate: { itemsPerPage: 9, currentPage: page, totalItems: totalItems } " style="padding: 15px 20px;">
            <div class="hover14 column">
               
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="{{prod.categoryIcon}}" alt=" " class="img-responsive">
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb" >
                                        <a routerLink="/singlePage/{{prod.id}}"><img title=" " alt=" " style="width: 150px;height: 150px;" src="{{prod.categoryBackgroundImage}}"></a>		
                                        <p >{{prod.title}}</p>
                                        <h4>Rs {{prod.unitPrice[0].sellingPrice}} <span>Rs {{prod.unitPrice[0].markedPrice}}</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="business" value=" ">
                                                <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                <input type="hidden" name="amount" value="35.99">
                                                <input type="hidden" name="discount_amount" value="1.00">
                                                <input type="hidden" name="currency_code" value="USD">
                                                <input type="hidden" name="return" value=" ">
                                                <input type="hidden" name="cancel_return" value=" ">
                                                <input type="submit" name="submit" value="Add to cart" class="button">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                
               
            
              
            </div>
        </div>
        
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>



