<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a routerLink="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Singlepage</li>
        </ol>
    </div>
</div>
<div class="products" *ngIf="singleContent">
    <div class="container">
        <div class="agileinfo_single">
            
            <div class="col-md-4 agileinfo_single_left">
                <img id="example" src="{{singleContent.categoryBackgroundImage}}" alt=" " class="img-responsive" style="width: 100%; height: 100%;">
            </div>
            <div class="col-md-8 agileinfo_single_right" >
            <h2>{{singleContent.title}}</h2>
                <div class="w3agile_description">
                    <h4>Description :</h4>
                    <p>{{singleContent.description}}</p>
                </div>
                <div class="snipcart-item block">
                    <div class="snipcart-thumb agileinfo_single_right_snipcart">
                        <h4 class="m-sing">Rs {{singleContent.unitPrice[0].sellingPrice}}<span>${{singleContent.unitPrice[0].markedPrice}}</span></h4>
                    </div>
                    <div class="snipcart-details agileinfo_single_right_details">
                        <form>
                            <fieldset>
                               
                                <input type="button" name="submit" value="Add to cart" class="button" (click)="onAddToCart(singleContent.id,singleContent.unitPrice[0].id)">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
