<div class="checkout">
    <div class="container">
        <h2>Your shopping cart contains: <span>{{total}}</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>	
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                    
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tr class="rem1" *ngFor="let data of cartData; let i=index">
                    <td class="invert">{{i+1}}</td>
                    <td class="invert-image"><a routerLink="/singlePage"><img src="{{data.product.categoryBackgroundImage}}" style="width: 120px; height: 120px;" alt=" " class="img-responsive" /></a></td>
                    <td class="invert">
                         <div class="quantity"> 
                            <div class="quantity-select">                           
                                <div class="entry value-minus" (click)="decreaseItem(data.id)">&nbsp;</div>
                                <div class="entry value"><span>{{data.quantity}}</span></div>
                                <div class="entry value-plus active" (click)="increaseItem(data.id)">&nbsp;</div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">{{data.product.title}}</td>
                    
                    <td class="invert">Rs {{data.product.unitPrice[0].sellingPrice}}</td>
                    <td class="invert">
                        <div class="rem">
                            <div class="close1" (click)="deleteCartItems(data.id)">Delete </div>
                        </div>
                    </td>
                </tr>
                
                        
            </table>
        </div>
        <div class="checkout-left">	
            <div class="timetable_sub">Add your Delivery address</div>
            <div class="checkout-right-basket">
                <a routerLink="/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>

              
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
