<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                    data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="home" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li  class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Groceries<b class="caret"></b></a>
                        <ul  class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>All Groceries</h6>
                                        <li><a  routerLink="/grocery">Dals & Pulses</a></li>
                                        <li><a  routerLink="/grocery">Almonds</a></li>
                                        <li><a  routerLink="/grocery">Cashews</a></li>
                                        <li><a  routerLink="/grocery">Dry Fruit</a></li>
                                        <li><a  routerLink="/grocery"> Mukhwas </a></li>
                                        <li><a  routerLink="/grocery">Rice & Rice Products</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown">Household<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>All Household</h6>
                                        <li><a routerLink="household">Cookware</a></li>
                                        <li><a routerLink="household">Dust Pans</a></li>
                                        <li><a routerLink="household">Scrubbers</a></li>
                                        <li><a routerLink="household">Dust Cloth</a></li>
                                        <li><a routerLink="household"> Mops </a></li>
                                        <li><a routerLink="household">Kitchenware</a></li>
                                    </ul>
                                </div>


                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown">Personal Care<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Baby Care</h6>
                                        <li><a routerLink="personalCare">Baby Soap</a></li>
                                        <li><a routerLink="personalCare">Baby Care Accessories</a></li>
                                        <li><a routerLink="personalCare">Baby Oil & Shampoos</a></li>
                                        <li><a routerLink="personalCare">Baby Creams & Lotion</a></li>
                                        <li><a routerLink="personalCare"> Baby Powder</a></li>
                                        <li><a routerLink="personalCare">Diapers & Wipes</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown">Packaged Foods<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>All Accessories</h6>
                                        <li><a routerLink="packageFood">Baby Food</a></li>
                                        <li><a routerLink="packageFood">Dessert Items</a></li>
                                        <li><a routerLink="packageFood">Biscuits</a></li>
                                        <li><a routerLink="packageFood">Breakfast Cereals</a></li>
                                        <li><a routerLink="packageFood"> Canned Food </a></li>
                                        <li><a routerLink="packageFood">Chocolates & Sweets</a></li>
                                    </ul>
                                </div>


                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Tea & Coeffe</h6>
                                        <li><a routerLink="beverage">Green Tea</a></li>
                                        <li><a routerLink="beverage">Ground Coffee</a></li>
                                        <li><a routerLink="beverage">Herbal Tea</a></li>
                                        <li><a routerLink="beverage">Instant Coffee</a></li>
                                        <li><a routerLink="beverage"> Tea </a></li>
                                        <li><a routerLink="beverage">Tea Bags</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li><a routerLink="gourmet">Gourmet</a></li>
                    <li><a routerLink="offers">Offers</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- <div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a routerLink="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">(Should display the respective page which ever is clicked)</li>
        </ol>
    </div>
</div> -->