<div class="navigation-agileits">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="home" class="act">Home</a></li>
          <li class="active"><a routerLink="offers">Offers</a></li>
          <li class="active"><a routerLink="contact">Contact</a></li>
          <li class="dropdown" *ngFor="let c of category">
            <a routerLink="{{c.title}}" class="dropdown-toggle" data-toggle="dropdown">{{ c.title }}<b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown" >
                    <h6>{{c.title}}</h6>
                    <li *ngFor="let sub of c.subcategories['data']">
                      <a routerLink="{{sub.title}}">{{sub.title}}</a>
                      
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  