<!-- header -->
<div class="agileits_header">
    <div class="container">
       
        <div class="w3l_offers">
           
            <p> <a routerLink="product">SHOP NOW</a></p>
        </div>
        <div class="agile-login">
            <ul>
                <li *ngIf="!_loggedIn"><a routerLink="signup"> Create Account </a></li>
                <li *ngIf="!_loggedIn"><a routerLink="login">Login</a></li>
                <li><a routerLink="contact">Help</a></li>
                <li *ngIf="_loggedIn"><a href="login"  (click)="logOut()">Logout</a></li>
                
            </ul>
        </div>
        <div class="product_list_header" *ngIf="_loggedIn">  
                <form action="" method="" class="last"> 
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button routerLink="/checkout" class="w3view-cart" type="button" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>  
        </div>
        <div class="product_list_header" *ngIf="_loggedIn">
            <button class="w3view-cart" type="button" value="" routerLink="editProfile"><i class="fa fa-user" aria-hidden="true"></i></button>

        </div>
     
        <div class="clearfix"> </div>
    </div>
</div>

<div class="logo_products">
    <div class="container">
    <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>
                
            </ul>
        </div>
        <div class="w3ls_logo_products_left">
            <h1><a routerLink="home">Dalle</a></h1>
        </div>
  
        
        <div class="clearfix"> </div>
    </div>
</div>




<!-- //header -->