<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Address for Delivery</h1>
        <form class="form-horizontal" role="form" *ngFor="let d of data ">
  
          <h2>Address </h2>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="Location" value="{{d.title}}"    disabled >
            </div>
          </div>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">latitude</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="latitude" value="{{d.latitude}}"    disabled>
            </div>
          </div>
  
          <div class="form-group">
    
            <label class="col-sm-2 control-label">longitude</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="longitude" value="{{d.longitude}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="Country" value="{{d.detail.country}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">  Province </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="provience" value="{{d.detail.provience}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">District</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="District" value="{{d.detail.district}}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Street Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="street_address" value="{{d.detail.street_address}}" disabled>
            </div>
          </div>
          <button  type="button" class="btn btn-danger" (click)="onDeleteAddress(d.id)">Delete Address</button>
  
        </form>
      
      </div>
    </div>
  </div>