<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" role="form">
  
          <h2>Address</h2>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="Location" value="{{location}}"    disabled >
            </div>
          </div>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">latitude</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="latitude" value="{{latitude}}"    disabled>
            </div>
          </div>
  
          <div class="form-group">
    
            <label class="col-sm-2 control-label">longitude</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="longitude" value="{{longitude}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="Country" value="{{country}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-2 control-label">  Province </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="provience" value="{{provience}}" disabled>
            </div>
          </div>
  
          <div class="form-group">
            <label  class="col-sm-2 control-label">District</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="District" value="{{district}}" disabled>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>